{{!< default}}

{{#post}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <header class="post-full-header">
      <h1 class="post-full-title">{{title}}</h1>
    </header>

    {{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}
      <div class="post-feed">
        {{#foreach authors}}
          {{!-- <article class="post-card {{#unless profile_image}} no-image{{/unless}}">
            {{#if profile_image}}
              <a class="post-card-image-link" href="">
                <div class="post-card-image" style="background-image: url({{profile_image}})"></div>
              </a>
            {{/if}}
            <div class="post-card-content">
              <a class="post-card-content-link" href="{% raw %}{{url}}">
                <header class="post-card-header">
                  <h2 class="post-card-title">{{name}}</h2>
                </header>
                <section class="post-card-excerpt">
                  <p>{{bio}}</p>
                </section>
              </a>
            </div>
          </article> --}}
            {{#if profile_image}}
                <div class="avatar">                            
                    <a href="{{url}}" class="translate-effect thumb"><span class="fullimage cover" style="background-image: url( {{img_url profile_image size="widget_thumb"}} );"></span></a>                            
                </div>
            {{/if}}
            <div class="info">
                <h4 class="title small author-name gradient-effect no-margin"><a href="{{url}}">{{name}}</a></h4>
                <div class="social">
                    {{#if location}}
                        <a href="javascript:void(0)" class="location translate-effect" title="{{t 'Location' }}: {{location}}" target="_blank"><i class="fa fa-map-marker"></i></a>
                    {{/if}}
                    {{#if website}}
                        <a href="{{website}}" class="website translate-effect" title="{{t 'Website' }}: {{website}}" target="_blank"><i class="fa fa-globe"></i></a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" class="twitter translate-effect" title="{{t 'Follow me on Twitter' }}" target="_blank"><i class="fa fa-twitter"></i></a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" class="facebook translate-effect" title="{{t 'Follow me on Facebook' }}" target="_blank"><i class="fa fa-facebook"></i></a>
                    {{/if}}
                </div>
                <div class="clear"></div>
                <p>{{bio}}</p>
            </div>
        {{/foreach}}
      </div>
    {{/get}}
  </div>
</main>

{{/post}}