{{!< default}}

{{#post}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner grid-container">
    <header class="post-full-header">
      <h1 class="post-full-title title">{{title}}</h1>
    </header>
    <p>The talented authors of the SciChart Blog can be found below! Click on a name to see related posts by that author.</p>
    <p>&nbsp;</p>
    {{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}
      <div class="post-feed widget-about">
        {{#foreach authors}}
            {{#if profile_image}}
                <div class="avatar">                            
                    <a href="{{url}}" class="translate-effect thumb"><span class="fullimage cover" style="background-image: url( {{img_url profile_image size="widget_thumb"}} );"></span></a>                            
                </div>
            {{/if}}
            <div class="info">
                <h4 class="title small author-name gradient-effect no-margin"><a href="{{url}}">{{name}} <small>({{ count.posts }})</small></a></h4>
                
                <div class="social" style="margin-top: 20px;">
                    {{#if location}}
                        <a href="javascript:void(0)" class="location translate-effect" title="{{t 'Location' }}: {{location}}" target="_blank"><i class="fa fa-map-marker"></i></a>
                    {{/if}}
                    {{#if website}}
                        <a href="{{website}}" class="website translate-effect" title="{{t 'Website' }}: {{website}}" target="_blank"><i class="fa fa-globe"></i></a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" class="twitter translate-effect" title="{{t 'Follow me on Twitter' }}" target="_blank"><i class="fa fa-twitter"></i></a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" class="facebook translate-effect" title="{{t 'Follow me on Facebook' }}" target="_blank"><i class="fa fa-facebook"></i></a>
                    {{/if}}
                </div>
                <div class="clear"></div>
                <p>{{bio}}</p>
            </div>
        {{/foreach}}
      </div>
    {{/get}}
  </div>
</main>

{{/post}}