<!-- start: #sidebar -->
<aside id="sidebar" role="complementary" class="grid-25 tablet-grid-25 hide-on-tablet hide-on-mobile">

    {{#is "post"}}
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}" limit="5" as |related-sidebar| }}
            <!-- start: .widget-recent-articles -->
            <div class="widget widget-recent-articles">
                <h4 class="title bordered">{{t "Related Articles" }}</h4>      
                {{#foreach related-sidebar visibility="all"}}
                    <article class="{{post_class}} item">
                        {{#if feature_image}}
                            <a href="{{url}}" class="thumb hover-effect grid-33 grid-parent">
                                <span class="fullimage cover lazy" data-src="{{img_url feature_image size="widget_thumb"}}"></span>
                            </a>
                        {{/if}}
                        <div class="info">
                            <div class="meta">
                                <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>
                            </div>
                            <h4 class="title usmall gradient-effect"><a href="{{url}}">{{title}}</a></h4>
                            
                        </div>
                        <div class="clear"></div>
                    </article>	
                {{/foreach}}
            </div>
            <!-- end: .widget-recent-articles -->
        {{/get}}
    
    {{/is}}

    {{^is "post"}}  
        <!-- start: .widget-recent-articles -->
        <div class="widget widget-recent-articles">
            <h4 class="title bordered">{{t "Latest Articles" }}</h4>
            {{#get "posts" limit="5" as |recent-sidebar| }}
                {{#foreach recent-sidebar visibility="all"}}
                    <article class="{{post_class}} item">
                        {{#if feature_image}}
                            <a href="{{url}}" class="thumb hover-effect grid-33 grid-parent">
                                <span class="fullimage cover lazy" data-src="{{img_url feature_image size="widget_thumb"}}"></span>
                            </a>
                        {{/if}}
                        <div class="info">
                            <div class="meta">
                                <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>
                            </div>
                            <h4 class="title usmall gradient-effect"><a href="{{url}}">{{title}}</a></h4>
                            
                        </div>
                        <div class="clear"></div>
                    </article>	
                {{/foreach}}
            {{/get}}
        </div>
        <!-- end: .widget-recent-articles -->
    {{/is}}

    <!-- start: .tag-cloud -->
    <section class="widget widget-categories">
        <h3 class="title bordered">{{t "Categories" }}</h3>
        {{#get "tags" limit = "30" include="count.posts" order="count.posts DESC" }}
            <ul>
            {{#foreach tags}}
                <li class="tag-{{slug}}">
                    <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                    <span>{{count.posts}}</span>
                </li>  
            {{/foreach}}
            </ul>
        {{/get}}
        <div class="clear"></div>
    </section>
    <!-- end: .tag-cloud  -->

    <!-- start: .widget -->
	<section class="widget widget-learnmore">
		<h4 class="widget-title title bordered">{{t "Learn more" }}</h4> 
		<div class="textwidget">
			<p>Learn more about SciChart!</p>
			<ul>
				<li><a href="https://www.scichart.com/ios-chart-features" target="_blank" title="iOS Chart Library">iOS Charts</a></li>
				<li><a href="https://www.scichart.com/android-chart-features" target="_blank" title="Android Chart Library">Android Charts</a></li>
				<li><a href="https://www.scichart.com/wpf-chart-features" target="_blank" title="WPF Chart Library">WPF Charts</a></li>
				<li><a href="https://www.scichart.com/xamarin-chart-examples" target="_blank" title="WPF Chart Library">Xamarin Chart Library</a></li>
				<li><a href="https://www.scichart.com/why-scichart-the-best-wpf-chart/" target="_blank" title="SciChart best chart control on WPF rated by hundreds of users">Why SciChart - Best for WPF</a></li>
				<li><a href="https://www.scichart.com/why-scichart-best-for-financial-stock-trading-applications/" target="_blank" title="SciChart best for Finance and Trading Apps">Why SciChart - Financial &amp; Trading</a></li>
				<li><a href="https://www.scichart.com/why-scichart-perfect-for-scientific-medical-engineering-applications/" target="_blank" title="SciChart best for Scientific and Medical Apps">Why SciChart - Scientific &amp; Medical</a></li>
				<li><a href="https://www.scichart.com/why-scichart-high-performance-realtime-big-data-charts/" target="_blank" title="SciChart best for Big Data High Performance Realtime Charts">Why SciChart - Big Data Charts</a></li>
			</ul>
			<p>Get started with SciChart</p>
			<ul>
				<li><a href="https://www.scichart.com/getting-started/" target="_blank" title="Getting Started with SciChart">Getting Started</a></li>
				<li><a href="https://www.scichart.com/downloads" target="_blank" title="Download a SciChart Trial">Download a Trial</a></li>
				<li><a href="http://www.scichart.com/read-documentation" target="_blank" title="Read SciChart Documentation">Documentation</a></li>
			</ul>
		</div>
		
		<div class="clear"></div>
	</section>
	<!-- end: .widget -->

    {{!-- <!-- start: .widget -->
	<section class="widget widget-text">
        <h4 class="widget-title title bordered">Text Widget</h4>
		<div class="textwidget">
			<p>Text widget content...</p>
            <p>Text widget content...</p>
		</div>
		<div class="clear"></div>
	</section>
	<!-- end: .widget -->    --}}

    {{!-- <!-- start: .widget-tag-cloud -->
    <div class="widget widget-tag-cloud">
        <h4 class="widget-title title bordered">{{t "Tag cloud" }}</h4>
        {{#get "tags" limit="30"}}
            {{#foreach tags}}
                <a href="{{url}}" class="ctag ctag-{{slug}}" data-id="ctag-{{slug}}">{{name}}</a>
            {{/foreach}}
        {{/get}}
    </div>
    <!-- end: .widget-tag-cloud  --> --}}

    {{!-- Uncomment to enable facebook or twitter widgets --}}
    {{!-- <!-- start: .widget -->
	<section class="widget">
		<h4 class="widget-title title bordered">Facebook</h4>
		<div class="fb-page" data-href="https://www.facebook.com/ghost" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"></div></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="clear"></div>
	</section>
	<!-- end: .widget --> --}}
	
	{{!-- <!-- start: .widget -->
	<section class="widget">
		<h4 class="widget-title title bordered">Twitter</h4>
        <a class="twitter-timeline" href="https://twitter.com/WordPress" data-height="400" data-widget-id="644274778728177664">Tweets by @WordPress.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="clear"></div>
	</section>
	<!-- end: .widget --> --}}
	
</aside>
<!-- end: #sidebar -->